.form-main {
  display: grid;
  place-items: center;
  gap: 20px;
}

.form-res {
  display: grid;
  place-items: center;
  gap: 20px;
}

.form-res input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #f4ce14;
}

.form-res select {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #f4ce14;
}

.subbutton {
  background-color: #f4ce14;
  border-radius: 16px;
  padding: 10px;
  border: 0;
  font-family: karla;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

.subbutton:active {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #b39b0a;
}

label {
  font-family: karla;
}
