.navbar .nav-menu {
  list-style-type: none;
  display: flex;
  font-family: karla;
  text-decoration: none;
  font-size: large;
}
li {
  margin: 10px;
}
.hamburger {
  height: 1rem;
  display: none;
}

.navbar {
  width: 100%;
  height: 90%;
  top: 0;
  left: 0;
  border-bottom: 1px solid;
  z-index: 9999;
}

.navbar .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbar .nav-menu {
  display: flex;
  text-decoration: none;
}
.navbar li {
  padding: 1rem;
}

.navbar .active {
  right: 0;
}
@media screen and (max-width: 800px) {
  .hamburger {
    display: block;
  }
  .navbar .nav-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 90px;
    right: -100%;
    height: 78vh;
    width: 100%;
    background-color: rgba(244, 206, 20, 0.9);
    transition: 0.4s ease-in-out;
    z-index: 9999;
    text-decoration: none;
  }
  .navbar .active {
    right: 0;
    z-index: 10;
  }

  .links:hover {
    text-decoration: none;
    color: #495e57;
    font-weight: 900;
    font-size: 20px;
  }

  .links:active {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  }
}
.icon {
  height: 1rem;
}

.links {
  text-decoration: none;
  color: #495e57;
}

.links:hover {
  text-decoration: none;
  color: #495e57;
  font-weight: 900;
  font-size: 20px;
}
